@model Data.Model.Entities.Table

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết bàn</h2>

<div class="row">
    <hr />
    <div class="col-md-4 text-center">
        <div class="panel panel-info panel-pricing">
            <div class="panel-heading">
                <i class="fa fa-tasks"></i>
                <h3>Số bàn: @Html.DisplayFor(model => model.Id)</h3>
            </div>
            <div class="panel-body text-center">
                <p><strong>@Html.DisplayFor(model => model.Description)</strong></p>
            </div>
            <ul class="list-group text-center">
                <li class="list-group-item"><i class="fa fa-check"></i> @Html.DisplayFor(model => model.Code)</li>
              
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-success" href='@Url.Action("Edit", "Tables", new { id = Model.Id })'>Sửa bàn</a>
            </div>
        </div>
    </div>

  
</div>
<p>
    @Html.ActionLink("Danh sách", "Index")
</p>
