@model Data.Model.Entities.Table

@{
    ViewBag.Title = "Edit";
    ViewBag.Current = "Tables";
}

<h2>Sửa thông tin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @*@Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Thời gian</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Mô tả</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Trạng thái</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })*@
                
                    <select class="form-control" id="sel1" name="Status">
                        
                        <option value="1" @(@Model.Status == 0 ? "selected":"none" )>Bàn trống</option>
                        <option value="2" @(@Model.Status == 1 ? "selected":"none" )>Bàn đang sử dụng</option>
                        
                    </select>
                
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.GroupTableID, "GroupTableID", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Nhóm bàn</label>
            <div class="col-md-10">
                @Html.DropDownList("GroupTableID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GroupTableID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Danh sách bàn", "Index")
</div>
