@model Data.Model.Entities.Customer

@{
    ViewBag.Title = "Details";
    ViewBag.Current = "Customers";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @(Model.Sex == 0 ? "Không xác định" : "" )
            @(Model.Sex == 1 ? "Nam" : "" )
            @(Model.Sex == 2 ? "Nữ" : "" )
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @string.Format("{0:dd-MM-yyyy}", Model.Birthday)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Hạng thành viên
        </dt>

        <dd>
            @(Model.Class == 0 ? "Bạc" : "" )
            @(Model.Class == 1 ? "Vàng" : "" )
            @(Model.Class == 2 ? "Kim Cương" : "" )
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @string.Format("{0:dd-MM-yyyy}", Model.CreateAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
