@model Data.Model.Entities.Dish

<div class="box-content card bordered-all success">
    <div class="box-title bg-custom container content">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <a href="@Url.Action("Edit", "Dishes", new { id=Model.ID })">
            <i class="ico zmdi zmdi-edit zmdi-hc-fw"></i>
        </a>
        <a data-url="@Url.Action("Delete", "Dishes", new { id=Model.ID })" id="@Model.ID" class="delete-object">
            <i class="ico zmdi zmdi-delete zmdi-hc-fw"></i>
        </a>
      </div>
    </div>
    <div class="card-content">
        <div class="container content">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="@Model.Image" style="height: 250px;"/>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h2>Tên món :  @Model.Name</h2>
                <h3>Giá : @Model.Price</h3>
                <h3>Số lần Order: @Model.OrderTimes</h3>
                <h3>Nhóm : @Model.SubCategory.Name</h3>
            </div>
        </div>
    </div>

</div>

<script>
  AddEvent()
</script>
