@model IEnumerable<Data.Model.Entities.Dish>

@{
    ViewBag.Title = "Index";
    ViewBag.Current = "Dishes";
}
<div class="box-content">
    <table id="example" class="table table-striped table-bordered display dishTable dataTable" style="width:100%">
        <thead>
            <tr>
                <th>
                    Tên món
                </th>
                <th>
                    Hình món ăn
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Số lượt order
                </th>
                <th>
                    Nhóm món ăn
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr id="@item.ID">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img style="height:100px" src="@item.Image "/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTimes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Dishes", new { id=item.ID })">
                            <i class="ico zmdi zmdi-edit zmdi-hc-fw"></i>
                        </a>
                        <a data-url="@Url.Action("Details", "Dishes", new { id=item.ID })" id="@item.ID" class="show-modal">
                            <i class="ico zmdi zmdi-eye zmdi-hc-fw"></i>
                        </a>
                        <a data-url="@Url.Action("Delete", "Dishes", new { id=item.ID })" id="@item.ID" class="delete-object">
                            <i class="ico zmdi zmdi-delete zmdi-hc-fw"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script src="/Assets/datatable/dish.js"></script>