@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAuthenticate.cshtml";
}
<div id="single-wrapper">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "frm-single", role = "form" }))
    {
        <div class="inside">
            @Html.AntiForgeryToken()
            <div class="title"><strong>Admin UI</strong></div>

            <div class="frm-title">Login</div>

            <div class="frm-input">
                @Html.TextBoxFor(m => m.Email, new { @class = "frm-inp", id = "username", placeholder = "Your Email" })
                <i class="fa fa-user frm-ico"></i>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="frm-input">
                @Html.PasswordFor(m => m.Password, new { @class = "frm-inp", id = "password", placeholder = "Your Password" })
                <i class="fa fa-lock frm-ico"></i>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger"})
            </div>

            <div class="clearfix margin-bottom-20">
            <div class="pull-left">
                <div class="checkbox primary"><input type="checkbox" id="rememberme"><label for="rememberme">Remember me</label></div>
            </div>
            <div class="pull-right"><a href="page-recoverpw.html" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot password?</a></div>
            </div>
            <button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>
            <div class="pull-right">
                <div class="button">
                    @Html.ActionLink("Register as a new user", "Register")
                </div>
            </div>
        </div>
    }
</div>