@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/css/login.css")


<div class="row">
    <div class="col-12">
        <section id="content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>Login Form</h1>
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "username", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", id = "password", placeholder = "Password" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>

                

            }
            <div class="button">
                @Html.ActionLink("Register as a new user", "Register")
            </div><!-- button -->
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}