@model IEnumerable<Data.Model.Entities.Promotion>

@{
    ViewBag.Title = "Index";
}
<div class="box-content">
    <table id="example" class="table table-striped table-bordered display promotionTable dataTable" style="width:100%">
        <thead>
            <tr>
                <th>
                    Tên khuyến mãi
                </th>
                <th>
                    Giảm giá
                </th>
                <th>
                    Ngày tạo
                </th>
                <th>
                    Ngày hết hạn
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountPercent) %
                    </td>
                    <td>
                        @string.Format("{0:dd-MM-yyyy}", item.CreateAt)
                    </td>
                    <td>
                        @string.Format("{0:dd-MM-yyyy}", item.ExpireAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Promotions", new { id=item.Id })">
                            <i class="ico zmdi zmdi-edit zmdi-hc-fw"></i>
                        </a>
                        <a data-url="@Url.Action("Details", "Promotions", new { id=item.Id })" id="@item.Id" class="show-modal">
                            <i class="ico zmdi zmdi-eye zmdi-hc-fw"></i>
                        </a>
                        <a data-url="@Url.Action("Delete", "Promotions", new { id=item.Id })" id="@item.Id" class="delete-object">
                            <i class="ico zmdi zmdi-delete zmdi-hc-fw"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script src="/Assets/datatable/promotion.js"></script>