@model Data.Model.Entities.Category

<div class="box-content card bordered-all success">
    <div class="box-title bg-custom container content">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h4>@Html.DisplayFor(model => model.Name)</h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <a href="@Url.Action("Edit", "Categories", new { id=Model.ID })">
                <i class="ico zmdi zmdi-edit zmdi-hc-fw"></i>
            </a>
            <a data-url="@Url.Action("Delete", "Categories", new { id=Model.ID })" id="@Model.ID" class="delete-object">
                <i class="ico zmdi zmdi-delete zmdi-hc-fw"></i>
            </a>
        </div>
    </div>
    <div class="card-content">
        <div class="container content">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="example" class="table table-striped table-bordered display categoryTable dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Tên nhóm con
                            </th>
                            <th>
                                Miêu tả
                            </th>

                            
                        </tr>
                    </thead>

                    @foreach (var item in Model.SubCategories)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            
                        </tr>
                    }

                </table>
                
            </div>
        </div>
    </div>

</div>

<script>
  AddEvent()
</script>