<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/startbootstrap-agency-gh-pages/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/startbootstrap-agency-gh-pages/vendor/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/startbootstrap-agency-gh-pages/css/agency.css")
    @Scripts.Render("~/bundles/modernizr")

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'54452787-8b20-4e8d-9180-064f0ffa79dd'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->

    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/Content/startbootstrap-agency-gh-pages/vendor/jquery/jquery.min.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js")
    @Scripts.Render("~/Content/startbootstrap-agency-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/startbootstrap-agency-gh-pages/vendor/bootstrap/js/bootstrap.js")
    <!-- Plugin JavaScript -->
    @Scripts.Render("~/Content/startbootstrap-agency-gh-pages/vendor/jquery-easing/jquery.easing.min.js")
    <!-- Contact form JavaScript -->
    @Scripts.Render("~/Content/startbootstrap-agency-gh-pages/js/jqBootstrapValidation.js")
    @Scripts.Render("~/Content/startbootstrap-agency-gh-pages/js/contact_me.js")
    <!-- Custom scripts for this template -->
    @Scripts.Render("~/Content/startbootstrap-agency-gh-pages/js/agency.js")
    @RenderSection("scripts", required: false)
</body>
</html>
