@using Web.Utils

<li @(ViewBag.Current== "Dashboard" ? "class=current" : "")>
    <a class="waves-effect" href="~/Admin/Dashboard"><i class="menu-icon fa fa-home"></i><span>Tổng quan</span></a>
</li>
@if (@User.IsInRole("Admin"))
{
<li @((ViewBag.Current == "Categories" || ViewBag.Current == "SubCategories" || ViewBag.Current == "Dishes") ? "class=current active" : "")>
    <a class="waves-effect parent-item js__control" href="~/Admin"><i class="menu-icon fa fa-cutlery"></i><span>Quản lí món ăn</span><span class="menu-arrow fa fa-angle-down"></span></a>
    <ul class="sub-menu js__content">
        <li @(ViewBag.Current == "Categories" ? "class=current" : "")>
            <a href="~/Admin/Categories">Nhóm món ăn</a>
        </li>
        <li @(ViewBag.Current == "SubCategories" ? "class=current" : "")>
            <a href="~/Admin/SubCategories">Nhóm con</a>
        </li>
        <li @(ViewBag.Current == "Dishes" ? "class=current" : "")>
            <a href="~/Admin/Dishes">Món ăn</a>
        </li>
    </ul>
    <!-- /.sub-menu js__content -->
</li>
}
<li @(ViewBag.Current== "Tables" ? "class=current" : "")>
    <a class="waves-effect" href="~/Admin/Tables"><i class="menu-icon fa fa-cubes fa-fw"></i><span>Quản lí bàn</span></a>
</li>
<!--Order-->
<li @(ViewBag.Current== "Reservations" || (ViewBag.Current== "Orders" && @User.IsInRole(Role.Staff)) ? "class=current" : "")>
    <a class="waves-effect" href="~/Admin/Reservations"><i class="menu-icon fa fa-pencil-square-o fa-fw"></i><span>Quản lí đặt món</span></a>
</li>
<!--Customer-->
<li @(ViewBag.Current== "Customers" ? "class=current" : "")>
    <a class="waves-effect" href="~/Admin/Customers"><i class="menu-icon fa fa-users fa-fw"></i><span>Quản lí khách hàng</span></a>
</li>
@if (@User.IsInRole(Role.Admin))
{
    <!--Employee-->
    <li @(ViewBag.Current== "Employees" ? "class=current" : "")>
        <a class="waves-effect" href="~/Admin/Employees"><i class="menu-icon fa fa-user fa-fw"></i><span>Quản lí nhân viên</span></a>
    </li>
    <!--Promotion-->
    <li @(ViewBag.Current== "Promotions" ? "class=current" : "")>
        <a class="waves-effect" href="~/Admin/Promotions"><i class="menu-icon fa fa-usd fa-fw"></i><span>Khuyến mãi</span></a>
    </li>
    <!--Hóa đơn-->
    <li @(ViewBag.Current== "Orders" ? "class=current" : "")>
        <a class="waves-effect" href="~/Admin/Orders"><i class="menu-icon fa fa-table fa-fw"></i><span>Quản lí hóa đơn</span></a>
    </li>
}