@model Data.Model.Entities.Order

@{
    ViewBag.Title = "Edit";
}

<div class="col-sm-8 col-md-8  page-left ">
    <div class="row box-content">
        @foreach(var category in ViewBag.Categories)
        {
            <button
                class="btn btn-primary btn-category"
                type="button"
                id="@category.ID"
                link="/Categories/GetSubCategories/@category.ID"
                onclick="GetSubCategories(@category.ID)">
                @category.Name
            </button>
        }

    </div>

    <div class="">
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6 col-sm-offset-3 box-content">
            <div class="form-group has-feedback">
                <input
                  type="text"
                  class="form-control search-dishes"
                  placeholder="Tìm món ăn"
                />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 sub-categories box-content">
            </div>
            <div class="col-sm-9 col-md-9 dishes box-content">
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 col-md-4 box-content page-right">
    <div class="form-group">
        @Html.LabelFor(model => model.TableID, "Bàn", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownList("TableID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerID, "khách hàng", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="orderItems"></div>
    <div class="sub-sum"></div>
    <div class="chiet-khau"></div>
    <div class="sum"></div>

    <div class="form-group">
        <label for="Note">Ghi chú:</label>
        <textarea class="form-control" rows="5" id="Note"></textarea>
    </div>

    <button type="button" class="btn btn-primary save">Lưu hóa đơn</button>
    <button type="button" class="btn btn-success thanh-toan">Thanh toán hóa đơn</button>


</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>
    var Order = @Html.Raw(Json.Encode(ViewBag.Order));
    var oldOrderItems = @Html.Raw(Json.Encode(ViewBag.oldOrderItems));
    var Dishes = @Html.Raw(Json.Encode(ViewBag.Dishes));
    var DeleteItems = [];
</script>

<script src="/Assets/scripts/common.js"></script>
