@model IEnumerable<Data.Model.Entities.Order>

@{
    ViewBag.Title = "Index";
}
<div class="box-content">
    <table id="example" class="table table-striped table-bordered display orderTable dataTable" style="width:100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Ngày giờ
                </th>
                <th>
                    Giá trước khuyến mãi
                </th>
                <th>
                    Tổng giá
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    Khách hàng
                </th>
                <th>
                    Nhân viên
                </th>
                <th>
                    Mã bàn
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                    <td>
                        @string.Format("{0:n0} đ", item.SubTotal)
                    </td>
                    <td>
                        @string.Format("{0:n0} đ", item.Total)
                    </td>
                    <td>
                        @if (item.Status == 0)
                        {
                            <p class="text-danger">Chưa thanh toán</p>
                        }
                        else
                        {
                            <p class="text-success">Đã thanh toán</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Table.Code)
                    </td>
                    <td>
                        @if (item.Status == 0)
                        {
                            <a href="@Url.Action("Edit", "Orders", new { id=item.Id })">
                                <i class="ico zmdi zmdi-edit zmdi-hc-fw"></i>
                            </a>
                        }
                        <a href="@Url.Action("Details", "Orders", new { id=item.Id })">
                            <i class="ico zmdi zmdi-eye zmdi-hc-fw"></i>
                        </a>
                        <a href="@Url.Action("Delete", "Orders", new { id=item.Id })" data-url="/Admin/Orders/Delete/@item.Id" id="@item.Id" class="delete-object">
                            <i class="ico zmdi zmdi-delete zmdi-hc-fw"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="/Assets/datatable/order.js"></script>