@model IEnumerable<Data.Model.Entities.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày giờ
        </th>
        <th>
            Giá trước khuyến mãi
        </th>
        <th>
            Tổng giá
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Khách hàng
        </th>
        <th>
            Nhân viên
        </th>
        <th>
            Mã bàn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @if (item.Status == 0)
            {
                <p>Chưa thanh toán</p>
            }
            else
            {
                <p>Đã thanh toán</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table.Code)
        </td>
        <td>
            @if (item.Status == 0)
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            }
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
