@model IEnumerable<Data.Model.Entities.SubCategory>

@{
    ViewBag.Title = "Index";
}

<div class="box-content">
    <table id="example" class="table table-striped table-bordered display subcategoryTable dataTable" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nhóm con
                </th>
                <th>
                    Miêu tả
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "SubCategories", new { id=item.ID })">
                        <i class="ico zmdi zmdi-edit zmdi-hc-fw"></i>
                    </a>
                    <a data-url="@Url.Action("Details", "SubCategories", new { id=item.ID })" id="@item.ID" class="show-modal">
                        <i class="ico zmdi zmdi-eye zmdi-hc-fw"></i>
                    </a>
                    <a data-url="@Url.Action("Delete", "SubCategories", new { id=item.ID })" id="@item.ID" class="delete-object">
                        <i class="ico zmdi zmdi-delete zmdi-hc-fw"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
<script src="/Assets/datatable/subcategory.js"></script>